html, body {
    background-color: black;
    color: white;
    /*overflow: hidden */
}

.tastiera {
    top: 100px;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.tasto {
    display: inline-block;
    width: 160px;
    height: 160px;
    text-align: center;
    font-family: Arial, Sans-Serif;
    font-size: 100px;
}

.tasto:hover {
  animation: mymoveSelection 2s;
}

@keyframes mymoveSelection {
  0%   {background-color: orange;}
  100% {background-color: black;}
}

#testo {
  width: 80vw;
  top: 1160px;
  left: 10vw;
  position: absolute;
  margin-bottom: 10vh;
  font-family: Arial, Sans-Serif;
  font-size: 32px;
}

.bottone {
  width: 80px;
  height: 80px;
  top: 900px;
  left: 10vw;
  position: absolute;
  background-color: orange;
}
