.specchietto_cl {
    position: fixed;
    background-color: blue;
    width: 400px;
    height: 200px;
    left: 100px;
}

.specchietto_cl:hover {
    left: 300px;
    animation: mymoveSelection 2s;
}

@keyframes mymoveSelection {
  0%   {background-color: orange;}
  100% {background-color: black;}
}
