.specchietto_cl {
    position: fixed;
    background-color: red;
    padding: 10vw;
    height: 80vw;
    left: 70vw;
    color: white;
}

.specchietto_cl:hover {
    left: 60vw;
    animation: mymoveSelection 2s;
}

@keyframes mymoveSelection {
  0%   {background-color: orange;}
  100% {background-color: black;}
}
